<p>utilisateur : <%= @user.name %> / email : <%= @user.email %></p>
<h2>Maintenant, vous pouvez connaître le sens de l'existence</h2>

<a class="btn btn-danger" href="<%= new_page_path %>" role="button">ARE SURE YOU WANT TO KNOW?</a>